openapi: 3.0.2

info:
  title: Inventory API
  description: Inventory API with Atp, Reservations. Following base url to test it for free https://tenant.api.serover.com/inventory
  version: '1.0.0' #api version


security:
  - ApiKeyAuth: []   
    oAuth2ClientCredentials: []

tags:
  - name: inventory

servers:
  - url: https://tenant.api.serover.com/inventory

paths:

  /v1/atp:
    post:
      summary: Post available to promise inventory 
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtpRequest'
      responses:
        '200':
          description: Atp updated successfully
        '400':
          description: atp errors list
          content:
            plain/text:
              schema:
                oneOf: 
                  - type: string
                    example: Please update max 25 atp objects at a time
                  - type: string
                    example: Request cannot include multiple operations on one item
        '500':
          description: Internal Server Error
    get:
      summary: Get available to promise inventory 
      parameters:
        - in: query
          name: skuId
          required: true
          schema:
            type: string
          description: > 
            The name identified as inventory Sku identifier. 
            The skuId can be pass alone to obtain total atp across locations e.g. Ship To Home.
        - in: query
          name: site
          schema:
            type: string
          description: >
            The location for inventory e.g. DC or Store.
            The site must be used together with `skuId`. This combination provides atp for sku and site e.g. PickUp At Store.
      responses:
        '200':    # status code
          description: A JSON array of object for onhand and future atp
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/AtpResponse'
        '500':
          description: Internal Server Error

  /v1/reserve:
    post:
      summary: Post reservations 
      requestBody:
        description: Creates reservation against available inventory to promise 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReserveRequest'
      responses:
        '200':
          description: A JSON array of objects for reservations
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ReserveResponse'
        '400':
          description: reservation creation errors list
          content:
            plain/text:
              schema:
                oneOf: 
                  - type: string
                    example: Please update max 10 reservation objects at a time
                  - type: string
                    example: Sufficient quantity is not available to reserve
        '500':
          description: Internal Server Error
    get:
      summary: Get reservations
      parameters:
        - in: query
          name: reservationId
          schema:
            type: string
          description: > 
            The name identified as inventory reservation identifier. 
            The reservationId can be pass alone to obtain all the reservations under that reservationId.
        - in: query
          name: skuId
          schema:
            type: string
          description: > 
            The name identified as inventory Sku identifier. 
            The skuId must be used together with `site`.
        - in: query
          name: site
          schema:
            type: string
          description: >
            The location for inventory e.g. DC or Store.
            The site must be used together with `skuId`.
       
      responses:
        '200':    # status code
          description: A JSON array of objects for reservations
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ReserveResponse'
        '500':
          description: Internal Server Error
    delete:
      summary: Delete reservation
      parameters:
        - in: query
          name: reservationId
          required: true
          schema:
            type: string
          description: > 
            The name identified as inventory reservation identifier. 
      responses:
        '200':
          description: Successful Reservation Deletion
        '400':
          description: reservation deletion errors list
          content:
            plain/text:
              schema:
                oneOf: 
                  - type: string
                    example: Reservation has already expired or deleted
        '500':
          description: Internal Server Error

components:
  securitySchemes:
    ApiKeyAuth:        
      type: apiKey
      description: Api key based on usage plan. For trying with tenant endpoint use api key - nVixRWiYBv9XGYze4cb2k6x6Jk4AGDgn8vIa5D51
      in: header       
      name: x-api-key
    oAuth2ClientCredentials:
      type: oauth2
      description: endpoint to get oauth2 token with tenantId provided to you
      flows: 
        clientCredentials: 
          tokenUrl: https://tenantId.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes: {"transactions_all"}

  schemas:
    AtpRequest:
      type: object
      properties:
        atp: 
          type: array
          items:
            type: object
            required:
              - skuId
              - site
              - qty
            properties:
              skuId:
                type: string
                description: The name identified as inventory Sku unique identifier.
                example: HA345349
                maxLength: 25
              site:
                type: string
                description: The name identified as inventory location unique identifier.
                example: ST3454
                maxLength: 25
              qty:
                type: number
                description: The number of units available to promise.
                example: 12
                maxLength: 10
              promiseDate:
                type: string
                description: Optional. Date available inventory for future date. Do not pass this for onhand inventory. 
                example: 2022-02-24T00:00:00.000Z
                format: date-time

    AtpResponse:
      type: array
      items: 
        type: object
        properties:
          skuId:
            type: string
            description: The name identified as inventory Sku unique identifier.
            example: HA345349
          site:
            type: string
            description: The name identified as inventory location unique identifier.
            example: ST3454
          qty:
            type: number
            description: The number of units available to promise.
            example: 12
          createdAt:
            type: string
            description: Available to promise inventory record created date timestamp.
            example: 2021-02-24T00:00:00.000Z
            format: date-time
          updatedAt:
            type: string
            description: Available to promise inventory record update date timestamp.
            example: 2021-04-24T00:00:00.000Z
            format: date-time

    ReserveRequest:
      type: object
      properties:
        reservations: 
          type: array
          items:
            type: object
            required:
              - skuId
              - site
              - qty
            properties:
              skuId:
                type: string
                description: The name identified as inventory Sku unique identifier.
                example: HA345349
                maxLength: 25
              site:
                type: string
                description: The name identified as inventory location unique identifier.
                example: ST3454
                maxLength: 25
              qty:
                type: number
                description: The number of units required to reserve.
                example: 12
                maxLength: 10
              expiresIn:
                type: number
                description: Optional. The number of minutes after reservation expires. If not passed Default is 15 mins.
                example: 10
                
    ReserveResponse:
      type: array
      items: 
        type: object
        properties:
          skuId:
            type: string
            description: The name identified as inventory Sku unique identifier.
            example: HA345349
          site:
            type: string
            description: The name identified as inventory location unique identifier.
            example: ST3454
          reservationId:
            type: string
            description: The name identified as reservation unique identifier.
            example: eewk3ekyou7zl6
          qty:
            type: number
            description: The number of units required to reserve.
            example: 2
          expiresAt:
            type: string
            description: Inventory reservation expiration date timestamp.
            example: 2021-02-24T00:00:00.000Z
            format: date-time
          createdAt:
            type: string
            description: Inventory reservation record created date timestamp.
            example: 2021-02-24T00:00:00.000Z
            format: date-time
          updatedAt:
            type: string
            description: Inventory reservation record update date timestamp.
            example: 2021-04-24T00:00:00.000Z
            format: date-time